/* Pretty Select 
========================================================================== */
select {
    position: relative;
    background: $fields-fff;
    max-width:100%;
    min-width:190px;
    border:1px solid $fields-border;
    padding:10px 40px 10px 10px;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);

    z-index: 2;
    cursor: pointer;
    appearance:none;
    text-indent: 0.01px;
    text-overflow: "";
    background: url(#{$img-path}select-arrow.png) right center no-repeat;
    background-size: 40px 40px;
}
select::-ms-expand {
    display: none;
}
.ie9 select,
.lt-ie9 select {
    background-image: none;
    padding-right:10px;
}
