/* Gird 12 column
========================================================================== */
.container  {
  position:relative;
  max-width: 1366px;
  margin: auto;
  clear: both;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

%col-styles,
.col-1_5,
.col-2_5,
.col-3_5,
.col-4_5,
.col-5_5,
.col-6_5,
.col-7_5,
.col-8_5 {
  position: relative;
  @include span(12 no-gutters);
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 12 {
  .col-#{$i} { @extend %col-styles; }
}

.col-12--2-4,
.col-12--3 {
  @include span(12);
}


.gutters {
  @include gutters();
}
.margin {
  margin-left: gutter();
  margin-right: gutter();
}
.pad-all {
  padding: gutters();
}

/* clear */
.clear {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}
.clear-both {
  clear: both;
  width: 100%;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
