/* Gird 12 column
========================================================================== */
.container  {
  position:relative;
  max-width: 1366px;
  margin: auto;
  clear: both;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.gutters {
  @include gutters();
}
.pad-all {
  padding: gutters();
}

%col-styles {
  position: relative;
  @include span(12 no-gutters);
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through 12 {
  .col-#{$i} { @extend %col-styles; }
}


/* clear */
.clear {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}
.clear-both {
  clear: both;
  width: 100%;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
