/* Alignments  RWD -- tablet
========================================================================== */



.alignleft {
	display: inline;
	float: left;
  margin: 0.5em 0.5em 0.5em 0;
}

.alignright {
	display: inline;
	float: right;
    margin: 0.5em 0 0.5em 0.5em;
}

.text-center-right {
	text-align: right;
}

.text-center-left {
	text-align: left;
}



blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}
