/* Gallery
========================================================================== */
.wp-block-gallery {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5em;
  clear: both;
}

.gallery {
  margin-bottom: 1.5em;
  clear: both;
}
.gallery-grid {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.blocks-gallery-item,
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 2px;
  
  a img {
    width: 100%;
    display: block;
  }
}

.blocks-gallery-item {
  .columns-2 &,
  .columns-3 &,
  .columns-4 &,
  .columns-5 &,
  .columns-6 &,
  .columns-7 &,
  .columns-8 &,
  .columns-9 & {
    width: span(12);
  }
}

.gallery-item {
  .gallery-columns-2 &,
  .gallery-columns-3 &,
  .gallery-columns-4 &,
  .gallery-columns-5 &,
  .gallery-columns-6 &,
  .gallery-columns-7 &,
  .gallery-columns-8 &,
  .gallery-columns-9 & {
    width: span(12);
  }
}


/* Captions
========================================================================== */
.wp-caption {
  margin-bottom: 1.75em;
  max-width: 100%;
  img {
    display: block;
  }
}

.gallery-caption,
.wp-caption-text  {
  padding: gutter();
  @include font-size-procent($font-size-s);
  border-bottom: 1px solid scale-lightness($three-bw, 40%);
  border-left: 1px solid scale-lightness($three-bw, 40%);
  border-right: 1px solid scale-lightness($three-bw, 40%);
  background: scale-lightness($three-bw, 50%);
}


/* RWD $desktop
========================================================================== */
@media (min-width: $desktop) {
  .blocks-gallery-item {
    @for $col from 2 through 9 {
      .columns-#{$col} & {
        width:  span(12/$col);
      }
    }
  }
  
  
  .gallery-item {
    @for $col from 2 through 9 {
      .gallery-columns-#{$col} & {
        width:  span(12/$col);
      }
    }
  }
}
