/* Links
========================================================================== */
a {
	text-decoration: none;
	color: $two-color;
	/* Remove the gray background color from active links in IE 10 */
	background-color: transparent;

	&:hover,
	&:active,
	&:focus {
		color: $one-color;
		outline: 0;
	}
}
