/* Tables
========================================================================== */
$th-text: $white;
$th-bg: $two-color;
$table-border: $light-border;
$tr-even: #f5f5f5;

table {
	width: 100%;
	margin: 0 0 20px;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}
table caption, td, th   {
	padding: 5px;
	text-align: inherit;
}
table caption {
font-weight: normal;
margin-bottom: 10px;
}
th {
	font-weight: bold;
	text-transform: uppercase;
}
td {
	border: 0;
}
.entry-content {
	table {
		border-bottom: 1px solid $table-border;
	}
	table caption {
		border-bottom: 1px dotted $table-border;
		border-top: 1px dotted $table-border;
	}
	th {
		background: $th-bg;
		color: $th-text;
		a {
			color: $one-color;
		}
	}
	td {
		border-bottom: 1px solid $table-border;
	}
	td[scope=col] {
		border-right: 1px solid $table-border;
		width: 25%;
		font-weight: bold;
		text-align: right;
		padding-right: 25px;
	}
	tr:nth-child(even) {
		background: $tr-even;
	}
}
