.icon-button-small-menu {
  border: none;
  overflow:hidden;
  height: 44px;
  width: 44px;
  padding: 0;
  @include font-size(4.2);
  line-height:1;
  &.center-button	{
    display: block;
    margin: gutter() auto;
  }
  &.right-button	{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.333333em gutter();
    z-index: $z-level-1;
  }
  &:before {
    content: "\f039";
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
    vertical-align: top;
    color: $small-button-color;
  }
}
.js {
  .hide-menu {
    top:-9999px;
    position: absolute;
    height: 1px;
  }
}

.small-menu {
  .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index:$z-level-3;
    background: $four-bw;
  }
  .menu ul                    {background: $three-bw; margin: 0; padding-left: 30px;}
  .menu li                    {position:relative;}
  .menu li a                  {display: block; padding: 1.6rem 30px; color: $small-color-a; border-bottom: 1px solid $small-border;}



  /*rozszerzenie ikony dodane recznie*/
  .menu li li.menu-item a:before {
    @extend .i-style;
    @extend .i-size;
    content: "\f105";
    margin: 0 10px 0 -50px;
    font-weight: bold;
    color: $two-color;
  }
}
