/* Accessibility
========================================================================== */
#accessibility {
	form {
		float: right;
		margin: 10px 0 10px 20px;
	}
}
a.skip-main 		{
	left: -999em;
	position:absolute;
	color: $wcag-herf;
	z-index:-999;
}
a.skip-main:focus,
a.skip-main:active 	{
	position: relative;
	top: 10px;
	width: 30%;
	height: auto;
	overflow: hidden;
	margin: 5px 35%;
	padding: 5px;
	border-radius: 10px;
	border: 4px solid $wcag-herf;
	text-align: center;
	font-size: 1.2em;
	background-color: $wcag-bg;
	display: block;
	z-index:$z-level-5 + 100;
	left: auto;
}

/* Text meant only for screen readers */
.screen-reader-text,
.screen-reader {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	margin: 0 !important;
}

.blank-ico 	{
position: absolute;
margin: 1px 5px 0 5px;
border: 0 !important;
//display: inline-block;
//width: 19px;
//height: 17px;
text-indent: -9999px;
//background: url(#{$img-path}new_window.png);
background-repeat: no-repeat;
opacity: 0;
}
article:focus,
section:focus,
main:focus,
header:focus,
div:focus,
a:focus  {
	outline: 2px solid $two-color;
}
