/* Theme style
========================================================================== */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Normalize
2.0 Universal styles
3.0 Layout

3.1 Header
3.1.1 Header Slider with post
3.1.2 Header custom text
3.1.3 Header quick links

3.2  Regular Content
3.3  Posts - multi loop
3.4  Posts & Page
3.5  Taxonomy
3.6  Attachment
3.7 Widgets

4 Sections
4.1 Section alert
4.2 Section loop homepage
4.3 Section featured category
4.4 Section menu with custom links to pages (education links)
4.5 Section advice and services (widget sidebar-bottom_baners)
4.6 Section Partners (widget sidebar-footer_banners )

5.0 Footer
5.1 Footer Contact
5.2 Footer quick links (widget sidebar-footer_contact )
5.3 footer map

6.0 Cookie and Copyright
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: auto
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  overflow: hidden;
  font-family: $font-base;
  @include font-size($size-base);
  line-height: 1.74;
  background: $four-bw;
  color: $one-bw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

main {
  display: block;
}

/*--------------------------------------------------------------
2.0 Universal styles
--------------------------------------------------------------*/
.hide {
  display: none;
}

.h-font {
  font-family: $font-second;
}

.btn {
  color: $four-bw;
  background-color: $two-color;
  border: 1px solid $two-color;
  padding: 0.7em;
  max-width: 320px;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  border-radius: 0.7em;
  &:hover {
    color: $four-bw;
    background-color: $one-color;
    border-color: $one-color;
  }
}

.btn--center {
  width: 75%;
  max-width: 320px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* color schemes */
.radius {
  border-radius: 10px;
}

.content-style {
  border-radius: 10px;
  border: 1px solid $light-border;
  background-color: $white;
  padding: 21px;

}


.meta-line {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;


  &:after {
    content: '';
    width: 100%;
    border-bottom: solid 2px $three-color;
    position: absolute;
    top: 48%;
    z-index: $z-level-1;
  }
  > span {
    position: relative;
    display: inline-block;
  }

  h1,h2,h3 {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    z-index: $z-level-2;
    background-color: $four-bw;
  }

 #secondary-baners &,
 .content-style & {
   h1,h2,h3 {
     background-color: $white;
   }
 }
}


.bw-image {
  filter: grayscale(100%);
  transition: all 0.3s linear;
}
a:hover .bw-image {
  filter: grayscale(0%);
}

/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
.inline-right {
  display: inline-block;
  float: right;
}

.inline-left {
  display: inline-block;
  float: left;
}

.page-section {
  margin-top: gutter();
  margin-bottom: gutter();
}
.primary-col,
.secondary-col {
  overflow: hidden;
}

.secondary-col {
  margin-left: gutter();
  margin-right: gutter();
}

.pad-v {
  padding-top: gutter();
  padding-bottom: gutter();
}


.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-col-2 {
  .wpg-block-column {
    width: 50%;
  }
}
.wpg-block-column {
  flex-basis: auto;
  min-width: 320px;
}


/*--------------------------------------------------------------
3.1 Header
--------------------------------------------------------------*/
/* Top bar - Header */
#top-bar {
  font-size: 85%;
  padding: 5px gutter();
  border-bottom: 1px solid $light-border;

  .contact-item {
    display: inline-block;
    margin-top: 10px;
    padding: 0 5px;

  }
}
.form-wcga form {
  margin: 0;
  display: inline;
}

.form-wcga input {
  width: auto;
  margin: 0 2px;
}

/* Site header content */
.header-wrapper {
  z-index: $z-level-3;
  background: $four-bw;
  top: -200px;
  transition: all 0.5s linear;
}

/* Site branding - Header */
#site-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-area {
  padding-left: gutter();
  padding-right:gutter();
  padding-top: 10px;
  padding-bottom:10px;
  text-align: center;
}
.site-title {
  display: inline-block;
  margin: 0;
  max-height: 80px;
  overflow: hidden;

  img {

    width: auto;
    max-height: 80px;
    margin-left: auto;
    margin-right:auto;
    transition: all 0.2s linear 0.4s;
  }
}

/* Site navigation */
#site-nav-bar {
  float: left;
  background: $two-color;
}

.fixed-header-2 {
    padding-top: 169px;
}

/*--------------------------------------------------------------
3.1.1 Header Slider with post
--------------------------------------------------------------*/
#header-background {
  background: url('http://beta.kz.atthost24.pl/wp-content/uploads/2020/10/iStockm.jpg');
  background-size: cover;
  background-position: bottom center;
  overflow: hidden;


  &::after {
      content: '';
      display: block;
      width: 100%;
      height: 25px;
      @include linear-gradient(90deg, #EB3349, #F45C43);
      clear: both;
  }
}



#header-content {
  padding-top: 5rem;
  overflow: hidden;
  .btn {
    margin-top: 30px;
    margin-bottom:30px;
  }
}

#slider-container {
  padding-bottom: 5rem;
}

.slider-bg {
  width: 80%;
  margin: 10px auto;
  @include bg-op($four-bw, 0.8);
}


#header-content {
  .slick-slide {
    overflow: hidden;
    padding: 15px;
    margin: 5px;
  }
}
/*--------------------------------------------------------------
3.1.2 Header custom text
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.1.3 Header quick links
--------------------------------------------------------------*/
#bar_shortcuts {
  background-color: $four-bw;

  li {
    flex-basis: 160px;
    margin: 5px;
    text-align: center;
    @include bg-op($four-bw, 0.8);

    &:hover {
      background-color: $four-bw;
    }
  }

  img {
    display: inline-block;
    width: 52%;
    margin: 10px 23%;
  }

  h3 {
    font-family: $font-base;
    @include font-size($size-base);
    overflow: hidden;
  }


  a {
    display: inline-block;
    width: 100%;
    height: 160px;
    padding: 5px;
    color: $one-bw;
    &:hover {color: $two-color;}
  }
  .no-flexbox & li {
    display: inline-block;
    width: 160px;
  }
  .no-flexbox & h3 {
    min-height: 44px;
  }
}
.shortcuts-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
3.2  Regular Content
--------------------------------------------------------------*/

#breadcrumbs {
    display: none;
    padding: 1%;
    margin-bottom: gutter();
    border-bottom: 1px solid $border-color;
    background-color: $four-bw;

}
/*--------------------------------------------------------------
3.3  Posts - multi loop
--------------------------------------------------------------*/
.hentry-multi {
  .hentry {
    margin-bottom: 40px;
  }
  .entry-meta{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid lighten( $border-color, 10% );
    i {
      color: #C4C4C4;
    }
  }
  .meta__item {
    display: inline-block;
    padding: 0 2%;
    padding-bottom: 3px;

    [class^="icon-"] {
      padding: 0 10px 0 0;
      min-width: 0;
    }
  }
}

.more-link {
  @extend .btn;
  margin: auto;
  max-width: 250px;
}

/*--------------------------------------------------------------
3.4  Posts & Page
--------------------------------------------------------------*/
.hentry {
  overflow: hidden;

  .single & {

    .entry-header {
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .entry-meta {margin: 20px 0;}
  }
}
.meta__item {
    display: inline-block;
}

.top-thumbnail{
  position: relative;
}
.over-thumbnail {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding-top: gutter();
    padding-bottom: gutter();
    background: $white;
}

.post-thumbnail {
  position: relative;

  img {
    width: 100%;
  }
}

#search-header {
  margin-bottom: 40px;
}

.entry-image {
  padding-top: gutter();
  border-top: 1px solid $light-border;
}


/*--------------------------------------------------------------
3.5  Taxonomy
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.6  Attachment
--------------------------------------------------------------*/
.attachment-file {
  max-width: 600px;
  margin: 70px auto 100px auto;

  img {
    display: inline-block;
    margin: 30px auto;
  }
}
/*--------------------------------------------------------------
3.7  Widgets
--------------------------------------------------------------*/


/*--------------------------------------------------------------
4 Sections
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.1 Section alert
--------------------------------------------------------------*/
#section-alert {
  background-color: $four-color;
  color: $two-bw;
  font-weight: bold;

    a { color: $two-bw;}
    a:hover {color: $three-color;}
    .btn--alert {
      border:none;
    }
    a.btn--alert {
      color: $four-color;
      background:  $two-bw;
    }
    a.btn--alert:hover {
      color: $three-bw;
    }
}
.alert-summary {
  margin-bottom: gutter();
  padding-bottom: 10px;
  border-bottom: 4px solid $two-bw;
}

/*--------------------------------------------------------------
4.2 Section loop homepage
--------------------------------------------------------------*/
.col-one article:nth-child(1) {
  padding: gutters();
  @include linear-gradient(90deg, #EB3349, #F45C43);
  color: $four-bw;


  a,
  i {color: $four-bw;}
  a:hover {color:$one-bw;}

}
/*--------------------------------------------------------------
4.3 Section featured category
--------------------------------------------------------------*/
#featured-cat{
  h3.entry-title {
  font-size: 100%;
  }
  img {
    width: 100%;
  }
}
/*--------------------------------------------------------------
4.4 Section menu with custom links to pages (education links)
--------------------------------------------------------------*/
#page_links {
  float: right;
  @extend .h-font;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    position: relative;
    color: lighten( $three-bw, 20% );
  }
  a {

      display: inline-block;
      min-height: 81px;
      width: 100%;
      color: lighten( $three-bw, 20% );
      @include linear-gradient(90deg, #EB3349, #F45C43);
      padding: gutter() gutter() gutter() 80px;
      margin-bottom: gutter();

      &:hover {
        color:$one-bw;
        @include linear-gradient(90deg, darken($three-bw, 10%), $three-bw);
      }
  }

  li > a:before {

      @extend .i-style;
      @extend .icon-college-graduation:before;

      position: absolute;
      width: 80px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
      font-size: 40px;
      line-height: 1;

  }
}


/*--------------------------------------------------------------
4.5 Section advice and services (widget sidebar-bottom_baners)
--------------------------------------------------------------*/

#primary-baners {

  .widget-item {
    a {display: block;}
    margin-bottom: gutter();
  }

  .widget_media_image {
    max-height: 285px;
    overflow: hidden;

    .widget-title {
      display: none;
    }

    img {
      width: 100%;
    }
  }
}

/*--------------------------------------------------------------
4.6 Section Partners (widget sidebar-footer_banners )
--------------------------------------------------------------*/
#secondary-baners {
  background: $white;
  padding-bottom: gutter();
  .widget-item a {display: block;}
  .widget {
    margin-bottom: gutter();
  }
}
/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/
.footer-background {
  img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
5.1 Footer Contact
--------------------------------------------------------------*/
#contact-footer {
  min-height: 200px;
  overflow: hidden;
  @include linear-gradient(90deg, #EB3349, #F45C43);
  color: lighten( $three-bw, 20% );
  border-color: lighten( $three-bw, 20% );

  a {
    color: lighten( $three-bw, 20% );
    &:hover {color: $one-color}
  }

  h3 {
    border-bottom: solid 4px;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  .contact-item {
    margin-bottom: 20px;
  }
  ul {
     padding: 0;
    list-style: none;
  }
  .wpg-block-column {
    min-width: 155px;
  }
}

.contact-item__icon {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  i {
    width: 35px;
  }
  span {
    display: inline-block;
    font-size: 112%;
  }
}
.contact-item__text {
  padding-left: 38px;
}


/*--------------------------------------------------------------
5.2 Footer quick links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.3 footer map
--------------------------------------------------------------*/
#map_svg {
  padding-top: 4%;
}

#title_path {
    position: absolute;
    bottom: 55px;
    left: 5px;
    z-index: $z-level-1;
    max-width: 49%;
}

/*--------------------------------------------------------------
6.0 Cookie and Copyright
--------------------------------------------------------------*/
#copyright {
  min-height: 80px;
  background-color: $four-bw;
  overflow: hidden;
}
body.prevent-scroll {
    position: fixed;
    width: 100%;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

body.prevent-scroll #page:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: $z-level-4;
    transition: opacity 500ms ease-in-out;
}

body.prevent-scroll.prevent-scroll--enabled,
body.prevent-scroll.prevent-scroll--enabled #page:after {
    opacity: 1;
}


#cookie-notice {
    display: none;
    position: fixed;
    min-width: 100%;
    height: auto;
    z-index: $z-level-5;
    left: 0;
    text-align: center;
    background: $white;
    bottom: 0;
    border-top: 2px solid $border-color;
}
#cn-notice-text {
  .btn {
    margin: 10px;
    line-height: 1;
  }
}

#cookie-notice.cookie-notice-visible {
  display: block;
}








/*--------------------------------------------------------------
7.0 Gutenberg blocks
--------------------------------------------------------------*/

.wp-block-button__link img {
    display: inline;
    margin: -2rem 0 -2rem 24px;
    max-width: 50px;
}

.wp-block-file .wp-block-file__button {
font-size: 100%;
padding: 10px 15px;
border-radius: 15px;
min-width: 140px;
display: inline-block;
text-align: center;
background: $two-color;
}
