/* Theme style
========================================================================== */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Normalize
2.0 Universal styles
3.0 Layout
3.1 Header
3.2  Regular Content
3.3  Posts - multi loop
3.4  Posts & Page
3.5  Taxonomy
3.6  Attachment
4 Sections
4.1 Header Slider with post
4.2 Header quick links
4.4 Section alert
4.4 Section last post
4.5 Section invitations and Ad
4.6 Section education links (widget sidebar)
4.7 Section advice and services
4.8 Section Partners (slick slider css)
5.0 Footer
5.1 Footer Contact
5.2 Footer quick links
5.3 Footer maps
6.0 Cookie and Copyright
7.0 Widgets

--------------------------------------------------------------*/


/*--------------------------------------------------------------
3.3  Posts - multi loop
--------------------------------------------------------------*/
.more-link {
  display: block;
}
