/* Theme style
========================================================================== */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Normalize
2.0 Universal styles
3.0 Layout

3.1 Header
3.1.1 Header Slider with post
3.1.2 Header custom text
3.1.3 Header quick links

3.2  Regular Content
3.3  Posts - multi loop
3.4  Posts & Page
3.5  Taxonomy
3.6  Attachment
3.7 Widgets

4 Sections
4.1 Section alert
4.2 Section loop homepage
4.3 Section featured category
4.4 Section menu with custom links to pages (education links)
4.5 Section advice and services (widget sidebar-bottom_baners)
4.6 Section Partners (widget sidebar-footer_banners )

5.0 Footer
5.1 Footer Contact
5.2 Footer quick links (widget sidebar-footer_contact )

6.0 Cookie and Copyright
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 Universal styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
.wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.col-6-center {
  @include span(6 no-gutters);
  @include push(3);
}
.active-sidebar {
  .col-primary{
    @include span(8 no-gutters);
  }
  .col-secondary{
    @include span(4 no-gutters);
  }
}


/*--------------------------------------------------------------
3.1 Header
--------------------------------------------------------------*/
/* Site branding - Header */

#site-header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title-area {
  padding-left: 0;
}
.site-title {
  text-align: left;
}

.fixed-header{
  padding-top: 95px;
  .header-wrapper {
    position: fixed;
    top: 0;
  }
}
/*--------------------------------------------------------------
3.1.1 Header Slider with post
--------------------------------------------------------------*/
#header-slider {
  padding: 10rem 0;
}
#slider {
  width: 100%;
}
/*--------------------------------------------------------------
3.1.2 Header custom text
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1.3 Header quick links
--------------------------------------------------------------*/
#bar_shortcuts {
  background-color: transparent;
}
.shortcuts-links {
    flex-direction: row;
}

/*--------------------------------------------------------------
3.2  Regular Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.3  Posts - multi loop
--------------------------------------------------------------*/
.hentry-multi {
  .hentry {
    padding: gutter();
  }
  .meta__item {
    display: inline-block;
  }
  .post-thumbnail{
    margin: 1em 0;
  }

  .entry-summary,
  .has-post-thumbnail .entry-header,
  .has-post-thumbnail .entry-meta {
    margin-left: gutter();
    margin-right: gutter();
  }
}
.continue_reading {
  float: right;
}
/*--------------------------------------------------------------
3.4  Posts & Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.5  Taxonomy
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.6  Attachment
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.7  Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4 Sections
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.1 Section alert
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.2 Section loop homepage
--------------------------------------------------------------*/
.col-one {
  padding-right: gutter();
  border-right: 1px solid $light-border;
  .hentry {
    min-height: 274px;
  }
}
.col-two {
  .hentry {
    min-height: 274px;
  }
}
/*--------------------------------------------------------------
4.3 Section featured category
--------------------------------------------------------------*/
.home {
  #featured-cat,
  #page_links{
    min-height: 665px;
  }
}

/*--------------------------------------------------------------
4.4 Section menu with custom links to pages (education links)
--------------------------------------------------------------*/




/*--------------------------------------------------------------
4.5 Section advice and services (widget sidebar-bottom_baners)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.6 Section Partners (widget sidebar-footer_banners )
--------------------------------------------------------------*/
#secondary-baners {

}
/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Footer Contact
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.2 Footer quick links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
6.0 Cookie and Copyright
--------------------------------------------------------------*/
