/* contrast
========================================================================== */

/*--------------------------------------------------------------
-- setting/
--------------------------------------------------------------*/
@import "setting/function";
@import "setting/mixin";
@import "setting/variables";

/* Theme style
========================================================================== */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Normalize
2.0 Universal styles
3.0 Layout

3.1 Header
3.1.1 Header Slider with post
3.1.2 Header custom text
3.1.3 Header quick links

3.2  Regular Content
3.3  Posts - multi loop
3.4  Posts & Page
3.5  Taxonomy
3.6  Attachment
3.7 Widgets

4 Sections
4.1 Section alert
4.2 Section loop homepage
4.3 Section featured category
4.4 Section menu with custom links to pages (education links)
4.5 Section advice and services (widget sidebar-bottom_baners)
4.6 Section Partners (widget sidebar-footer_banners )

5.0 Footer
5.1 Footer Contact
5.2 Footer quick links (widget sidebar-footer_contact )

6.0 Cookie and Copyright
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
body {
  background: $wcag-bg;
  color: $wcag-text;
}

a {
  color: $wcag-herf;
  &:hover,
  &:active {
    color: $wcag-herf;
    text-decoration: underline;
  }
}
/*--------------------------------------------------------------
2.0 Universal styles
--------------------------------------------------------------*/
.btn, .more-link {
  color: $wcag-bg;
  background-color: $wcag-herf;
  border: 1px solid $wcag-herf;
  &:hover {
    color: $wcag-herf;
    background-color: $wcag-bg;
  }
}

.content-style {
  border: 1px solid $wcag-text;
  background-color: $wcag-bg;
  padding: 21px;

  .meta-line  {
    h1,h2,h3 {background-color: $wcag-bg;}
  }
}

.meta-line {
  &:after {
    border-bottom: solid 2px $wcag-text;
  }
  h1,h2,h3 {
    background-color: $wcag-bg;
  }
}


/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 Header
--------------------------------------------------------------*/
.header-wrapper {
  background: $wcag-bg;
}

/* Site navigation */
#site-nav-bar {
  float: left;
  background: $wcag-bg;
}

.bar-color {
  .menu-item-has-children > a:after {color: $wcag-text;}
  .menu li > a                {color: $wcag-herf;}
  .menu li > a:hover,
  .menu li.focus > a          {background-color: $wcag-herf; color:$wcag-bg;}

  .sub-menu li                {background: $wcag-bg;}
  .sub-menu li a              {color: $wcag-herf; border-bottom-color: $wcag-bg;}
  .sub-menu li > a:hover      {color: $wcag-bg; border-bottom-color: $wcag-bg; background-color: $wcag-herf; }
  .sub-menu li li > a:hover   {color: $wcag-bg; background-color: $wcag-herf; }
}



/*--------------------------------------------------------------
3.1.1 Header Slider with post
--------------------------------------------------------------*/
#header-background {
  &::after {
      background: $wcag-text;
  }
}
.slider-bg {
  width: 80%;
  margin: 10px auto;
  background: $wcag-bg;
  border: 1px solid $wcag-text;
}
/*--------------------------------------------------------------
3.1.2 Header custom text
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1.3 Header quick links
--------------------------------------------------------------*/
#bar_shortcuts {
  li {
    background: $wcag-bg;
    &:hover {
      background: $wcag-bg;
    }
  }

  a {
    color: $wcag-herf;
    &:hover {color: $wcag-herf;}
  }
}


/*--------------------------------------------------------------
3.2  Regular Content
--------------------------------------------------------------*/
#breadcrumbs {
    background-color: $wcag-bg;
}

/*--------------------------------------------------------------
3.3  Posts - multi loop
--------------------------------------------------------------*/
.hentry-multi .entry-meta {
  border-color: $wcag-bg;
}
/*--------------------------------------------------------------
3.2  Regular Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.3  Posts - multi loop
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.4  Posts & Page
--------------------------------------------------------------*/
.over-thumbnail {
    background: $wcag-bg;
}
/*--------------------------------------------------------------
3.5  Taxonomy
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.6  Attachment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.7 Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4 Sections
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 Section alert
--------------------------------------------------------------*/
#section-alert {
  background-color: $wcag-herf;
  color: $wcag-bg;
    a { color: $wcag-bg;}
    a:hover {color: $wcag-bg;}
    a.btn--alert {
      color: $wcag-herf;
      background:  $two-bw;
      border:1px solid $wcag-bg;

    }
    a.btn--alert:hover {
      color: $wcag-bg;
      background: $wcag-herf;
      border:1px solid $wcag-bg;
    }
}
.alert-summary {
  border-bottom: 4px solid $wcag-bg;
}
/*--------------------------------------------------------------
4.2 Section loop homepage
--------------------------------------------------------------*/
.col-one article:nth-child(1) {
  background: $wcag-bg;
  color: $wcag-text;
  border: 1px solid $wcag-text;

  a,
  i {color: $wcag-text;}
  a:hover {color:$wcag-herf;}

}
/*--------------------------------------------------------------
4.3 Section featured category
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.4 Section menu with custom links to pages (education links)
--------------------------------------------------------------*/
#page_links {
  li {
    color: $wcag-bg;
  }
  a {
      color: $wcag-bg;
      background: $wcag-herf;
      border: 1px solid $wcag-herf;

      &:hover {
        color: $wcag-herf;
        background: $wcag-bg;
        border: 1px solid $wcag-herf;
      }
  }
}
/*--------------------------------------------------------------
4.5 Section advice and services (widget sidebar-bottom_baners)
--------------------------------------------------------------*/
.footer-background {
  display: none;
}
/*--------------------------------------------------------------
4.6 Section Partners (widget sidebar-footer_banners )
--------------------------------------------------------------*/
#secondary-baners {
  background: $wcag-bg;
}
/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Footer Contact
--------------------------------------------------------------*/
#contact-footer {
  background: $wcag-bg;
  border-top: 10px solid $wcag-text;
  border-bottom: 10px solid $wcag-text;
  a {
    color: $wcag-herf;
    &:hover {color: $wcag-herf;}
  }


}



/*--------------------------------------------------------------
5.2 Footer quick links (widget sidebar-footer_contact )
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.0 Cookie and Copyright
--------------------------------------------------------------*/
#copyright {

  background-color: $wcag-bg;

}




































.v-nav {
  .menu li a                      {color: $wcag-herf; border-bottom-color: $wcag-text;}

  .menu a:hover,
  .menu .current_page_item > a,
  .menu .current-menu-item > a,
  .menu .current_page_ancestor > a        {color: $wcag-herf; text-decoration: underline;}


}
.v-nav.dropdown {
  .menu .dropdown-toggle					        { color: $wcag-herf;}
  .menu .dropdown-toggle:hover,
  .menu .dropdown-toggle:focus			      {background-color: $wcag-herf; color: $wcag-bg;}
}
.icon-button-small-menu {
  &:before {
    color: $wcag-herf;
  }
}
.small-menu {
  .menu {
    background-color: $wcag-bg;
  }
  .menu ul                    {background-color: $wcag-bg;}
  .menu li a                  {color: $wcag-herf; border-bottom-color: $wcag-text;}
  .menu li li.menu-item a:before { color: $wcag-herf;}
}



.pagination 						{
  a, span	{
    border-color: $wcag-herf;
  }
  a {
    background: $wcag-bg;
  }
  span {
    color: $wcag-text;
    background-color: $wcag-bg;
  }

  a > span {
    color: $wcag-bg;
    background-color: $wcag-text;
  }

  a:hover {
    background: $wcag-herf;
    color: $wcag-bg;
  }

  a:hover > span {
    color: $wcag-herf;
    background: $wcag-bg;
  }
  .current 				{
    color: $wcag-bg;
    background: $wcag-text;
  }
  .dots {
    color: $wcag-text;
  }
}
.pagination-inside {
	a, span	{
		border: 2px solid $wcag-herf;
	}
	a {
		color: $wcag-herf;
		background: $wcag-herf;
	}
	span {
		color: $wcag-herf;
		background: $wcag-bg;
	}

	a > span {
		color: $wcag-bg;
		background: $wcag-herf;
	}

	a:hover {
		background: $wcag-bg;
		color: $wcag-herf;
	}

	a:hover > span {
		color: $wcag-herf;
		background: $wcag-bg;

	}
}





.post-navigation {
  span.meta-nav 	{
    color: $wcag-text;
  }

  .nav-links {
    div {
      border-color: $wcag-herf;
      background-color: $wcag-bg;
    }

    div:hover {
      span.meta-nav 	{
        color: $wcag-bg;
      }
      background-color: $wcag-herf;
      a {color: $wcag-bg;}
    }
  }
}


.comments-title {
  color: $wcag-text;
  border-top-color: $wcag-text;
  border-bottom-color: $wcag-text;
}
.comment-list {
  .bypostauthor {
    > .comment-body {
      background: $wcag-bg;
    }
  }
  .reply a {
    border-color: $wcag-herf;
  }
}

.comment-respond {
  border: 5px solid $border-color;
  background-color: $wcag-bg;
}
////////// html base tags
mark,
ins {
  background-color: $wcag-text;
  color: $wcag-bg;
}
hr {
  border-bottom-color: $wcag-text;
}
blockquote {
  border-top-color: $wcag-text;
  border-bottom-color: $wcag-text;
  &:before {
    color: $wcag-text;
  }
}
abbr[title],
abbr[data-original-title],
acronym {
  border-bottom-color: $wcag-text;
}

kbd,
var,
samp,
code,
pre {
  color:	$wcag-bg;
  background-color: $wcag-text;
  border-color: $wcag-text;
}
/// TABLE
.entry-content {
  table {
    border: 5px solid $wcag-text;
  }

  table caption,
  td,
  td[scope=col] {
    border-bottom-color:  $wcag-text;
  }
  th {
    border: 1px solid;
    background-color: $wcag-bg;
    color: $wcag-text;
    a {
      color: $wcag-herf;
    }
  }
  tr:nth-child(odd),
  tr:nth-child(even) {
    background-color: $wcag-bg;
  }
}

// Gallery shortcode
.gallery-caption,
.wp-caption-text {
  border-color: $wcag-text;
  background: $wcag-bg;
}

// widget
.secondary-col .widget {
    border-bottom: 10px solid $border-color;
}
.widget-title::after {
  background: $wcag-text;
}
.secondary-col {
  .widget-title {
      &::after {
        background: $wcag-text;
      }
  }
}


  /* Forms
  ========================================================================== */
  fieldset,
  legend {
    border-color: $wcag-text;
  }
  button,
  input[type=submit],
  input[type=button],
  input[type="reset"] {
    border-color: $wcag-herf;
    background: $wcag-herf;
    color: $wcag-bg;
    &:focus, &:active {
      color: $wcag-herf;
      background: $wcag-bg;
    }
  }
  input[type=file] {
    color: $wcag-bg;
    background: $wcag-text;
    border-color: $wcag-text;
  }
  input[type=file]::-ms-browse,
  input[type=file]::-webkit-file-upload-button,
  input[type=file] > input[type=button]::-moz-focus-inner {
    color: $wcag-bg;
    background-color: $wcag-text;
    border-color: $wcag-text;
  }
  input, textarea {
    color: $wcag-bg;
    background: $wcag-text;
    border-color: $wcag-text;
    &:focus {
      border-color: $wcag-herf;
    }
  }


  /* Gutenber block - wordpres 5.0
  ========================================================================== */
  .wp-block-button__link,
  .wp-block-file .wp-block-file__button {
    background-color: $wcag-herf;
    color: $wcag-bg;
  }
  .is-style-outline .wp-block-button__link {
    border-color: $wcag-herf;
    color: $wcag-herf;
  }

.wp-block-button__link:active,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited {
  color: $wcag-bg;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  color: $wcag-bg;
}

  /* Slick theme
  ========================================================================== */

  .btn-slider {
      color: $wcag-herf;
      border: 2px solid $wcag-herf;

      &:hover {
          color: $wcag-bg;
          background-color: $wcag-herf;
          border-color: $wcag-herf;
      }
  }


  .slick-dots {
      li {
          button {
              &:before {
                  color: $wcag-herf;
              }
          }
          &.slick-active button:before {
              color: $wcag-herf;
          }
      }
  }
