/* print
========================================================================== */

#skip-links,
#cookie-notice,
#top-bar,
#site-search,
#site-nav-bar,
#header-background,
.post-navigation,
#comments,
.footer-background,
#secondary-baners,
#menu_footer,
#footer-widget,
#map_svg,
#secondary {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}
.text-center {
  text-align: center;
}


#site-header {
  max-width: 7cm;
  display: block;
  margin: 0 auto;
}

#breadcrumbs {
  width: 100%;
  padding: 0.5cm;
}

#top-thumbnail {
  max-width: 25%;
  display: block;
  margin: 1cm auto;
}

#contact-info {
  text-align: center;
  width: 100%;
  clear: both;
  .contact-item {
    display: inline-block;
    margin: 0.5cm;
    text-align: left;
  }
}
