/*--------------------------------------------------------------
-- setting/
--------------------------------------------------------------*/

@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/compass-mixins/lib/compass";

@import "setting/function";
@import "setting/mixin";
@import "setting/susy";
@import "setting/variables";

/*--------------------------------------------------------------
-- framework/base/
--------------------------------------------------------------*/
@import "framework/base/icon_font";

/*--------------------------------------------------------------
-- framework/components/
--------------------------------------------------------------*/
@import "framework/components/alignments";
@import "framework/components/base_html_tags";
@import "framework/components/gallery";
@import "framework/components/headings";
@import "framework/components/links";
@import "framework/components/list";
@import "framework/components/media";
@import "framework/components/tables";

/*--------------------------------------------------------------
-- framework/components/forms/
--------------------------------------------------------------*/
@import "framework/components/forms/forms__normalize";
@import "framework/components/forms/forms";

/*--------------------------------------------------------------
-- framework/layout/
--------------------------------------------------------------*/
@import "framework/layout/gird";

/*--------------------------------------------------------------
-- framework/vendors/pluginy_js/
--------------------------------------------------------------*/
@import "framework/vendors/pluginy_js/_magnificPopup";

/*--------------------------------------------------------------
//-- theme/
--------------------------------------------------------------*/
@import "theme/theme";
@import "theme/widgets";
@import "theme/coments";
@import "theme/accessibility";

/*--------------------------------------------------------------
-- theme/nav/
--------------------------------------------------------------*/
@import "theme/nav/nav_horizontal";
@import "theme/nav/nav_pagination";
@import "theme/nav/nav_small";
@import "theme/nav/nav_verticall";


////////////////////////////////////////////////////////////////
/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/


/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (min-width: $phone) {

  .wide-col .col-12--3 {@include span(4); }
}



/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (max-width: $tablet) {

.hide-on-small {display: none !important;}

//  @import "theme/theme--rwd_max-desktop";
//  @import "theme/nav/nav_horizontal_rwd-tablet";

}



/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (min-width: $phone) and (max-width: $desktop) {

  .narrow-col .col-12--3 {@include span(4);}
  .wide-col .col-12--2-4 {@include span(6); }

}

/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (max-width: $desktop) {

  @import "theme/theme--rwd_max-desktop";

}



/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (min-width: $desktop) {

  .hide-desktop {display:none !important;}
  #breadcrumbs {display: block;}

  .wide-col .col-12--2-4 {@include span(3);}

  @import "framework/layout/gird__rwd-desktop";
  @import "theme/theme--rwd_min-desktop";

  @import "framework/components/alignments__rwd-desktop";
  @import "theme/nav/nav_horizontal__rwd-desktop";
  @import "theme/nav/nav_pagination__rwd-desktop";
}



/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (min-width: $tablet) and (max-width: $desktop-1200) {
  #header-background {
    .col-7,
    .col-5 {@include span(12);}
  }
}



/*--------------------------------------------------------------
-- Responsive breakpoint
--------------------------------------------------------------*/
@media (min-width: $desktop) and (max-width: $desktop-hdpi) {
  #bar_shortcuts {
    li  { flex-basis: 145px; }
    a   { height: 145px; }
    h3  { @include font-size($font-size-m); }
  }
}

@media (min-width: $desktop-mdpi) {
  .container  {
    max-width: 1466px;
  }
}
